[Unit]
Description=XMPP Server
After=network.target

[Service]
Type=notify
User=root
Group=root
LimitNOFILE=65536
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/sbin/ejabberdctl foreground
ExecStop=/bin/sh -c '/usr/local/sbin/ejabberdctl stop && /usr/local/sbin/ejabberdctl stopped'
ExecReload=/usr/local/sbin/ejabberdctl reload_config
NotifyAccess=all
PrivateDevices=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
TimeoutSec=300

[Install]
WantedBy=multi-user.target
